    <div class="div_a">
      <!-- <app-post-title></app-post-title> -->
      <div class="div_title">{{postDetails.caption}}</div>
      <app-post-category></app-post-category>
      <app-post-info [postAuthor]="postDetails.email" [postDate]="postDetails.date" ></app-post-info>
      <app-post-image [postDetails]="postDetails" (click)="goToPostDetails()"></app-post-image>
      <app-post-stats
        [postDetails]="postDetails"
      ></app-post-stats>
   </div>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia excepturi accusamus adipisci optio laudantium consequuntur dicta consequatur et tempore, asperiores veniam, impedit ullam quod magnam aperiam architecto? Commodi, et quod!</p>
