.list_image{ float:left; width:53px; height:auto;}

.image_sec{ float:left; border:1px solid #ffffff; background-color:#ecedef; width:52px; padding-top:8px;}
.image_sec img{ width:100% ; height:46px;}
