<app-welcome-message></app-welcome-message>
<div class="content_rgt">
    <div class="register_sec">
        <h1>Reset Password</h1>
        <form #resetPasswordForm="ngForm" (ngSubmit)="onSubmit()">
            <ul>
                <li>
                    <span>Enter New Password</span>
                    <input [(ngModel)]="formData.password" name="password" type="text" placeholder="Enter your new password">
                </li>
                <li>
                    <span>Confirm Password</span>
                    <input [(ngModel)]="formData.password2" name="password2" type="text" placeholder="Enter your password again">
                </li>
                <p class="errorMessage" *ngIf="!isPasswordMatch">Password isn't matching!!</p>
                <li>
                    <input type="submit" value="Submit">
                </li>
            </ul>
        </form>
    </div>
</div>