<div class="div_btm">
    <div class="btm_list">
      <ul>
        <li><a href="#"><span class="btn_icon"><img src="./assets/images/icon_001.png" alt="share" /></span>Share</a></li>
        <li><a href="#"><span class="btn_icon"><img src="./assets/images/icon_002.png" alt="share" /></span>Flag</a></li>
        <li><a href="#"><span class="btn_icon"><img src="./assets/images/icon_004.png" alt="share" /></span>Comments</a></li>
        <div class="like_count" style="margin-right: 10px;"><span class="lft_cnt"></span><span class="mid_cnt">{{postDetails.comment.length}}</span><span class="rit_cnt"></span></div>

        <li><a><span class="btn_icon"><img src="./assets/images/icon_003.png" alt="share" /></span>Likes</a></li>
        <div class="like_count" style="margin-right: 10px;"><span class="lft_cnt"></span><span class="mid_cnt">{{postDetails.likes.length}}</span><span class="rit_cnt"></span></div>
        <li *ngIf="isAlredayLiked"><i (click)="updateLike()" class="fa fa-heart" style="color: red"></i></li>
        <li *ngIf="!isAlredayLiked"><a (click)="updateLike()"><i class="fa fa-heart"></i></a></li> 
      </ul>
      </div>
</div>
