.btm_rgt {
	float: right;
	background: url(../../../../assets/images/side_arc.png) no-repeat;
	width: auto;
	height: 28px;
	color: #fff;
	text-align: center;
	line-height: 30px;
	text-indent: 11px;
	margin-right: -5%;
	font-size: 12px;
	text-transform: uppercase;
	background-position: 0px 0px;
}

.btm_arc {
	width: auto;
	float: left;
	height: 28px;
	background: url(../../../../assets/images/side_img.png);
	margin-left: 11px;
	padding-right: 11px;
}