<div class="header">
    <div class="header_lft">
      <div class="logo show-cursor"  (click)="goToHome()"><img src="../assets/images/logo.png"></div>
      <div class="navigatn" *ngIf="loggedIn">
        <ul>
          <li><a (click)="goToHome()" class="active show-cursor">Home</a></li>
          <li><a (click)="goTotimeline()"> Timeline </a></li>
          <li><a > E-Coupons </a></li>
          <li><a >E-Brands </a></li>
          <li><a> Lost and Found</a></li>
        </ul>
      </div>
    </div>
    <app-inner-header-right *ngIf="loggedIn"></app-inner-header-right>
</div> 