<div class="container">
    <div class="content">
      
      <div class="content_rgt">
      <div class="login_sec">
      <h1>Log In</h1>
      <ul>
      <li><span>Email-ID</span><input type="text" placeholder="Enter your email"></li>
      <li><span>Password</span><input type="text" placeholder="Enter your password"></li>
      <li><input type="checkbox">Remember Me</li>
      <li><input type="submit" value="Log In"><a routerLink="/forget-password">Forgot Password</a></li>
      </ul>
      <div class="addtnal_acnt">I do not have any account yet.<a routerLink="/register">Create My Account Now !</a></div>
      </div>
      </div>
  
      <div class="content_lft">
      <h1>Welcome from PPL!</h1>
      <p class="discrptn">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
      <img src="../assets/images/img_9.png"  alt=""/> 
      </div>
  
    </div>
  </div>