.container {
    width: auto;
  }

.container {
    margin-right: auto;
    margin-left: auto;
    *zoom: 1;
  }

  .container {
	width: 80%;
	padding: 0% 5% 0% 5%;
	margin: auto;
	height: auto;
   }
  
  .container:before,
  .container:after {
    display: table;
    line-height: 0;
    content: "";
  }
  
  .container:after {
    clear: both;
  }
  
  .container-fluid {
    padding-right: 20px;
    padding-left: 20px;
    *zoom: 1;
  }
  
  .container-fluid:before,
  .container-fluid:after {
    display: table;
    line-height: 0;
    content: "";
  }
  
  .container-fluid:after {
    clear: both;
  }
  