<div class="profile_form">
    <ul>
     <li>
       <div class="div_name1">Name :</div>
       <div class="div_name2">{{name}}</div>
     </li>
     <li>
      <div class="div_name1">Username :</div>
      <div class="div_name2">{{username}}</div>
    </li>
     <li>
       <div class="div_name1">Email :</div>
       <div class="div_name2">{{email}}</div>
     </li>
     <!-- <li>
       <div class="div_name1">Description :</div>
       <div class="div_name3">This is an example of a comment. You can create as many comments like this one
             or sub comments as you like and manage all of your content inside Account.</div>
     </li> -->
    </ul>
  </div>
