<div class="contnt_1">
    <div class="timeline_div">
       <div class="timeline_div1">
         <div class="profile_pic">
           <img src="../../../assets/images/post_img.png">
           <div class="profile_text"><a href="#">Change Profile Pic</a></div>
         </div>
         <div class="profile_info">
           <div class="edit_div"><a href="#">Edit <img src="../../../assets/images/timeline_img.png"></a></div>
           <app-profile-form></app-profile-form>
         </div>
       </div>
       <app-user-detail-navigation></app-user-detail-navigation>    
    </div>
</div>
