<div class="rght_cate">
    <div class="rght_cate_hd" id="opn_cat_bg">Featured</div>
    <div class="sub_dwn">
       <div class="feat_sec">
        <div class="feat_sec_img"><img src="./assets/images/feat_img1.png" alt="image" /></div>
        <div class="feat_txt">Lorem Ipusum Text</div>
        <div class="btm_rgt">
          <div class="btm_arc">Cats</div>
        </div>
      </div>
     <div class="feat_sec">
        <div class="feat_sec_img"><img src="./assets/images/feat_img2.png" alt="image" /></div>
        <div class="feat_txt">Lorem Ipusum Text</div>
        <div class="btm_rgt">
          <div class="btm_arc">Dogs</div>
        </div>
      </div>
      <div class="feat_sec">
        <div class="feat_sec_img"><img src="./assets/images/feat_img3.png" alt="image" /></div>
        <div class="feat_txt">Lorem Ipusum Text</div>
        <div class="btm_rgt">
          <div class="btm_arc">Rabbits</div>
        </div>
      </div>
    </div>
</div>