<div *ngIf="isEmailSent" class="popup_sec" id="pop_forgt">
  <div class="clos_btn"><img src="../../assets/images/clos.png"  alt="" id="clos_pop"/></div>
  <div class="pop_hdr">A mail has been send to your e-mail Id for Reset Password Link</div>
  <div class="man_contnt">
  <span>Please Check Your Mail Box!</span>
  <input type="submit" routerLink="/reset-password" value="Ok">
  </div>
</div>  


<app-welcome-message></app-welcome-message>
<div class="content_rgt">
  <div class="register_sec">
    <h1>Forgot Password</h1>
    <form #forgotPassForm="ngForm" (ngSubmit)="onSubmit()">
      <ul>
        <li>
          <span>Enter E-mail ID</span>
          <input [(ngModel)]="formData.email" name="email" type="text" placeholder="User@gmail.com">
          <p *ngIf="isIncorrectEmail" class="errorMessage">Please Enter correct email</p>
        </li>
        <li>
          <input type="submit" value="Submit">
        </li>
      </ul>
    </form>
  </div>     
</div>