<div class="container">
    <div class="content">
      <div class="content_rgt">
      <div class="register_sec">
      <h1>Create An Account</h1>
      <form #registerForm="ngForm" (ngSubmit)="handleRegister()">
        <ul>
          <li>
            <label for="username">Username</label>
            <input [(ngModel)]="model.username" id="username" name="username"  type="text"  placeholder="Enter your username">
          </li>
          <li>
            <label for="password">Password</label>
            <input [(ngModel)]="model.password" id="password" name="password"  type="text"  placeholder="Enter your password">
          </li>
          <li>
            <label for="email">Email</label>
            <input [(ngModel)]="model.email" id="email" type="text" name="email"   placeholder="Enter your email">
          </li>
          <li>
            <label for="firstName">First Name</label>
            <input [(ngModel)]="model.firstName" id="firstName" name="firstName"  type="text"  placeholder="Enter your first name">
          </li>
          <li>
            <label for="lastName">Last Name</label>
            <input [(ngModel)]="model.lastName" id="lastName" type="text" name="lastName"  placeholder="Enter your last name">
          </li>
          <li>
            <input type="checkbox">
            <label>I agree to Term & Conditions</label>
          </li>
          <li>
            <input type="submit" value="Register">
          </li>
        </ul>
      </form>
      <div class="addtnal_acnt">I already have an account.<a routerLink="/login">Login My Account !</a></div>
      </div>
      
      </div>
      <div class="content_lft">
      <h1>Welcome from PPL!</h1>
      <p class="discrptn">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
      <img src="../assets/images/img_9.png"  alt=""/> </div>
    </div> 
</div>